@import "~bootstrap/scss/bootstrap";

.section {
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  &#boracay {
    background-image: url('../public/images/boracay.png');
  }

  &#guam {
    background-image: url('../public/images/guam.png');
  }
}
